<h1>L3M 2023-2024 : Matrices</h1>
<b>Dimensions des matrics</b>
<br>
<br>
<div> M1 lines :
    <input type="number" [ngModel]="sigL1()" (ngModelChange)="sigL1.set($event)">
</div>
<div>
    M1 columns :
    <input type="number" [ngModel]="sigH1()" (ngModelChange)="sigH1.set($event)">
</div>
<div>
    M2 lines :
    <input type="number" [ngModel]="sigL2()" (ngModelChange)="sigL2.set($event)">
</div>
<div>
    M2 columns :
    <input type="number" [ngModel]="sigH2()" (ngModelChange)="sigH2.set($event)">
</div>

<br>
<br>


<pre>
    M1 = <app-matrix [data]="sigM1()"></app-matrix>
    M2 = <app-matrix [data]="sigM2()"></app-matrix> 
 M1+M2 = <app-matrix *ngIf="sigM1plusM2() as M; else matUndef" [data]="M"></app-matrix>
 M1*M2 = <app-matrix *ngIf="sigM1xM2()    as M; else matUndef" [data]="M"></app-matrix>
</pre>

<ng-template #matUndef>
    Matrice indéfinie
</ng-template>

