<h1>L3M 2023-2024 : Matrices</h1>

à compléter...
<pre>
    <input type="number"
        [ngModel]="sigL1()"
        (ngModelChange) = "updateL1($event)">
    <input type="number"
        [ngModel]="sigH1()"
        (ngModelChange) = "updateH1($event)">
    <input type="number"
        [ngModel]="sigL2()"
        (ngModelChange) = "updateL2($event)">
    <input type="number"
        [ngModel]="sigH2()"
        (ngModelChange) = "updateH2($event)">        
    <app-matrix
        [highlight]="sigHhilightInM1()"
        [data] = "sigM1()">
    </app-matrix>
    <app-matrix
        [highlight]="sigHhilightInM2()"
        [data] = "sigM2()">
    </app-matrix>

    <div *ngIf="sigM1plusM2() as Matrix;else elseBlock1">
        <app-matrix 
            [highlight]="sigHhilightInM1plusM2()"
            [data] = "Matrix"
            (pointerOver) = "overM1plusM2($event)">
        </app-matrix>
    </div>
    <ng-template #elseBlock1>
        matrice plus non définie
    </ng-template>

    <div *ngIf="sigM1xM2() as Matrix;else elseBlock2">
        <app-matrix
            [highlight]="sigHhilightInM1xM2()"
            [data] = "Matrix"
            (pointerOver) = "overM1xM2($event)">
        </app-matrix>
    </div>
    <ng-template #elseBlock2>
        matrice fois non définie
    </ng-template>

</pre>