<h1>L3M 2023-2024 : Matrices</h1>
<b>Dimensions des matrics</b>
<br>
<br>
<div> M1 lines :
    <input type="number" [ngModel]="sigL1()" (change)="changeL1($any($event.target).value)">
</div>
<div>
    M1 columns :
    <input type="number" [ngModel]="sigH1()" (change)="changeH1($any($event.target).value)">
</div>
<div>
    M2 lines :
    <input type="number" [ngModel]="sigL2()" (change)="changeL2($any($event.target).value)">
</div>
<div>
    M2 columns :
    <input type="number" [ngModel]="sigH2()" (change)="changeH2($any($event).target.value)">
</div>

<br>
<br>


<div> M1= <app-matrix [data]="sigM1()"></app-matrix>
     M2=<app-matrix [data]="sigM2()"></app-matrix> </div>


<div> M1+M2=
<app-matrix [data]="sigM1plusM2()">M1+M2</app-matrix>
M1*M2=
<app-matrix [data]="sigM1xM2()">M1*M2</app-matrix>
</div>


